# Node.js dependencies
node_modules/

# Environment variables
.env


# Logs
package-lock.json



# React/Vite specific
frontend/node_modules/
frontend/.vercel/
frontend/.env


# Backend specific
backend/node_modules/
backend/.env
